
<h1>Lista de Usuarios</h1>

{{#if users.length}}

  
<div id="container">
    <h2>USER MANAGEMENT</h2>
    <div id="admin-info">
        <h3>Admin: {{email}}</h3>    
    </div>
    <br>
    <h3>Users list</h3> 
    <div id="div-users"></div>

</div>
{{else}}
  <p>No hay usuarios.</p>
{{/if}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/js/changed.js"></script>
